In [99]:
# import dependencies
import pandas as pd
import numpy as np
from numpy import array
from numpy import asarray
from numpy import zeros
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from zipfile import ZipFile
import json
import os.path
import re
import pickle
import requests
import math

import data_download

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

# Add some convenience functions to Pandas DataFrame.
pd.options.display.max_rows = 1000
pd.options.display.float_format = '{:.3f}'.format
def mask(df, key, function):
  """Returns a filtered dataframe, by applying function to key"""
  return df[function(df[key])]

def flatten_cols(df):
  df.columns = [' '.join(col).strip() for col in df.columns.values]
  return df

pd.DataFrame.mask = mask
pd.DataFrame.flatten_cols = flatten_cols

In [2]:
# movies, links, ratings, tags = data_download.load_unprocessed_df(use_large=False)
movies, links, ratings, tags, genome_tags, genome_scores = data_download.load_unprocessed_df(use_large=True)

MovieLens 25M Dataset is downloaded!
MovieLens Latest Small Dataset is downloaded!
MovieLens 25M Dataset is already extracted!
MovieLens Latest Small Dataset is already extracted!

In [3]:
%%time
user_ids = ratings.userId.unique().tolist()
user2idx = {userId: idx for (idx, userId) in enumerate(user_ids)}
idx2user = {idx: userId for (idx, userId) in enumerate(user_ids)}
ratings.userId = ratings.userId.map(user2idx)

movie_ids = ratings.movieId.unique().tolist()
movie2idx = {movieId: idx for (idx, movieId) in enumerate(movie_ids)}
idx2movie = {idx: movieId for (idx, movieId) in enumerate(movie_ids)}
ratings.movieId = ratings.movieId.map(movie2idx)

# map rest
tags.movieId = tags.movieId.map(movie2idx)
movies.movieId = movies.movieId.map(movie2idx)
links.movieId = links.movieId.map(movie2idx)

CPU times: user 1.52 s, sys: 174 ms, total: 1.69 s
Wall time: 1.7 s

In [4]:
num_users = int(ratings.userId.nunique())
num_movies = int(ratings.movieId.nunique())
ratings["rating"] = ratings["rating"].values.astype(np.float32)
# min and max ratings will be used to normalize the ratings later
min_rating = min(ratings["rating"])
max_rating = max(ratings["rating"])

print(
    "Number of users: {}, Number of Movies: {}, Min rating: {}, Max rating: {}".format(
        num_users, num_movies, min_rating, max_rating
    )
)

Number of users: 162541, Number of Movies: 59047, Min rating: 0.5, Max rating: 5.0

In [5]:
# drop some columns we do not care about
ratings = ratings.drop("timestamp", axis=1)
tags = tags.drop("timestamp", axis=1)

In [6]:
# drop duplicates for ratings for content 
ratings_content = ratings.drop_duplicates("movieId")

In [7]:
# we need take make sure that we have equal movies and ratings.
movies.isnull().sum()

movieId    3376
title         0
genres        0
dtype: int64

In [8]:
movies[~movies.movieId.isin(ratings_content.movieId)]

,movieId,title,genres
8371,nan,Break of Hearts (1935),Drama|Romance
8763,nan,Baby Blue Marine (1976),Drama
11556,nan,"Thousand and One Nights, A (1001 Nights) (1945)",Adventure
11997,nan,Suicide Killers (2006),Documentary
12173,nan,Alex in Wonder (Sex and a Girl) (2001),Comedy|Drama
...,...,...,...
62238,nan,Eternal Blood (2002),Action|Horror|Thriller
62239,nan,Big Business (1929),Comedy
62240,nan,The Student of Prague (1926),Horror
62298,nan,The Coldest Game (2019),(no genres listed)
62342,nan,Spell (2018),Comedy|Drama|Thriller

In [9]:
movies = movies[movies['movieId'].notna()]

In [10]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [11]:
# basic stats
print("{} unique movies in ratings_content".format(len(ratings_content.movieId.unique())))
print("{} unique movies in tags.csv".format(len(tags.movieId.unique())))
print("{} unique movies in movies.csv".format(len(movies.movieId.unique())))

59047 unique movies in ratings_content
41876 unique movies in tags.csv
59047 unique movies in movies.csv

In [12]:
# do we have tags with movies that do NOT have a ratings?
len(tags[~tags["movieId"].isin(ratings_content.movieId)]["movieId"].unique())

1

In [13]:
# movies that are not in ratings, should be removed (using right join)
tags_content = pd.merge(tags, ratings_content, on="movieId", how="right")

In [14]:
tags_content[tags_content.movieId == 0]

       userId_x  movieId                          tag  userId_y  rating
0       264.000    0.000                     assassin         0   5.000
1       264.000    0.000                 Black comedy         0   5.000
2       264.000    0.000                    cult film         0   5.000
3       264.000    0.000                  dark comedy         0   5.000
4       264.000    0.000            Quentin Tarantino         0   5.000
...         ...      ...                          ...       ...     ...
4762 162400.000    0.000  Oscar Nominee: Best Picture         0   5.000
4763 162400.000    0.000            Quentin Tarantino         0   5.000
4764 162400.000    0.000                       satire         0   5.000
4765 162400.000    0.000                Steve Buscemi         0   5.000
4766 162400.000    0.000                     suspense         0   5.000

[4767 rows x 5 columns]

In [15]:
tags_content.head()

   userId_x  movieId                tag  userId_y  rating
0   264.000    0.000           assassin         0   5.000
1   264.000    0.000       Black comedy         0   5.000
2   264.000    0.000          cult film         0   5.000
3   264.000    0.000        dark comedy         0   5.000
4   264.000    0.000  Quentin Tarantino         0   5.000

In [16]:
len(tags[~tags["movieId"].isin(ratings_content.movieId)]["movieId"].unique())

1

In [17]:
# after some clean
print("{} unique movies in ratings_content".format(len(ratings_content.movieId.unique())))
print("{} unique movies in tags_content".format(len(tags_content.movieId.unique())))
print("{} unique movies in movies.csv".format(len(movies.movieId.unique())))

59047 unique movies in ratings_content
59047 unique movies in tags_content
59047 unique movies in movies.csv

In [18]:
# handle genres (remove all non alphabet characters)
movies['genres'] = movies['genres'].str.replace(pat="|", repl=" ")
movies['genres'] = movies['genres'].str.replace(pat="-", repl="")
movies['genres'] = movies['genres'].str.replace(pat="(no genres listed)", repl="")
movies['genres'] = movies['genres'].str.replace(pat="(", repl="")
movies['genres'] = movies['genres'].str.replace(pat=")", repl="")
movies.head()

,movieId,title,genres
0,70.000,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,1103.000,Jumanji (1995),Adventure Children Fantasy
2,1017.000,Grumpier Old Men (1995),Comedy Romance
3,4270.000,Waiting to Exhale (1995),Comedy Drama Romance
4,1858.000,Father of the Bride Part II (1995),Comedy

In [19]:
# merge movies with ratings and map idx
movies_content = pd.merge(movies, ratings_content, on="movieId", how="inner")

In [20]:
movies.query("title == 'Batman Begins (2005)'")

       movieId                 title             genres
10002  245.000  Batman Begins (2005)  Action Crime IMAX

In [21]:
# there is some nans in tags
tags_content.isnull().sum().sort_values(ascending = False)

tag         17188
userId_x    17172
rating          0
userId_y        0
movieId         0
dtype: int64

In [22]:
# fill some nans 
tags_content.fillna("", inplace=True)

In [23]:
tags_content.isnull().sum().sort_values(ascending = False)

rating      0
userId_y    0
tag         0
movieId     0
userId_x    0
dtype: int64

In [24]:
tags_content = pd.DataFrame(tags_content.groupby('movieId')['tag'].apply(lambda x: "%s" % ' '.join(x)))
tags_content.reset_index(inplace=True)

In [25]:
tags_content.head()

   movieId                                                tag
0    0.000  assassin Black comedy cult film dark comedy Qu...
1    1.000  atmospheric enigmatic gentle lyrical meditativ...
2    2.000  atmospheric CRISIS OF FAITH DEATH OF A CHILD D...
3    3.000  biting cerebral cynical harsh irreverent madca...
4    4.000  Dance 50s imdb top 250 musical romance happy m...

In [26]:
movies_content.head()

,movieId,title,genres,userId,rating
0,70.000,Toy Story (1995),Adventure Animation Children Comedy Fantasy,1,3.500
1,1103.000,Jumanji (1995),Adventure Children Fantasy,8,5.000
2,1017.000,Grumpier Old Men (1995),Comedy Romance,7,4.000
3,4270.000,Waiting to Exhale (1995),Comedy Drama Romance,140,3.000
4,1858.000,Father of the Bride Part II (1995),Comedy,17,4.000

In [27]:
# group tags by movie id to create corpus
content_data = pd.merge(movies_content, tags_content, on="movieId", how="right")
content_data["corpus"] = content_data[["genres", "tag"]].apply(lambda x: " ".join(x), axis=1)

In [28]:
movies_content[movies_content.movieId == 245]

       movieId                 title             genres  userId  rating
10000  245.000  Batman Begins (2005)  Action Crime IMAX       1   5.000

In [29]:
content_data[content_data.movieId == 245]

,movieId,title,genres,userId,rating,tag,corpus
245,245.000,Batman Begins (2005),Action Crime IMAX,1,5.000,action batman billionaire Christian Bale comic...,Action Crime IMAX action batman billionaire Ch...

In [30]:
# drop items we do not need 
content_data = content_data.drop("rating", axis=1)
content_data = content_data.drop("userId", axis=1)

In [31]:
content_data.head()

,movieId,title,genres,tag,corpus
0,0.000,Pulp Fiction (1994),Comedy Crime Drama Thriller,assassin Black comedy cult film dark comedy Qu...,Comedy Crime Drama Thriller assassin Black com...
1,1.000,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,atmospheric enigmatic gentle lyrical meditativ...,Drama atmospheric enigmatic gentle lyrical med...
2,2.000,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,atmospheric CRISIS OF FAITH DEATH OF A CHILD D...,Drama atmospheric CRISIS OF FAITH DEATH OF A C...
3,3.000,Underground (1995),Comedy Drama War,biting cerebral cynical harsh irreverent madca...,Comedy Drama War biting cerebral cynical harsh...
4,4.000,Singin' in the Rain (1952),Comedy Musical Romance,Dance 50s imdb top 250 musical romance happy m...,Comedy Musical Romance Dance 50s imdb top 250 ...

In [32]:
# find ratings count and mean
movie_summary = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())
movie_summary['ratings_count'] = ratings.groupby('movieId')['rating'].count()
movie_summary.head()

         rating  ratings_count
movieId
0         4.189          79672
1         4.073           7058
2         3.981           6616
3         3.946           1269
4         4.051          10895

In [33]:
# merge with content data
content_data = pd.merge(content_data, movie_summary, on="movieId", how="left")
content_data.head()

,movieId,title,genres,tag,corpus,rating,ratings_count
0,0.000,Pulp Fiction (1994),Comedy Crime Drama Thriller,assassin Black comedy cult film dark comedy Qu...,Comedy Crime Drama Thriller assassin Black com...,4.189,79672
1,1.000,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama,atmospheric enigmatic gentle lyrical meditativ...,Drama atmospheric enigmatic gentle lyrical med...,4.073,7058
2,2.000,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama,atmospheric CRISIS OF FAITH DEATH OF A CHILD D...,Drama atmospheric CRISIS OF FAITH DEATH OF A C...,3.981,6616
3,3.000,Underground (1995),Comedy Drama War,biting cerebral cynical harsh irreverent madca...,Comedy Drama War biting cerebral cynical harsh...,3.946,1269
4,4.000,Singin' in the Rain (1952),Comedy Musical Romance,Dance 50s imdb top 250 musical romance happy m...,Comedy Musical Romance Dance 50s imdb top 250 ...,4.051,10895

In [34]:
content_data.shape

(59047, 7)

https://help.imdb.com/article/imdb/track-movies-tv/ratings-faq/G67Y87TFYYP6TWAV#ratings

The following formula is used to calculate the Top Rated 250 titles. This formula provides a true 'Bayesian estimate', which takes into account the number of votes each title has received, minimum votes required to be on the list, and the mean vote for all titles:

weighted rating (WR) = (v Ã· (v+m)) Ã— R + (m Ã· (v+m)) Ã— C

Where:

R = average for the movie (mean) = (rating)

v = number of votes for the movie = (votes)

m = minimum votes required to be listed in the Top Rated list (currently 25,000)

C = the mean vote across the whole report

In [35]:
C = content_data["rating"].mean()
print(C)
m = content_data["ratings_count"].quantile(0.90)
print(m)

3.071374
413.0

In [36]:
# weighted ratings based on IMDB
def weighted_rating(x):
    v = x['ratings_count']
    R = x['rating']
    return (v / (v + m) * R) + (m / (m + v) * C)

In [37]:
content_data["weighted_rating"] = content_data.apply(weighted_rating, axis=1)

In [38]:
content_data = pd.merge(content_data, links, on="movieId", how="left")

In [39]:
content_data.sort_values("weighted_rating", ascending=False).head(20)

,movieId,title,genres,tag,corpus,rating,ratings_count,weighted_rating,imdbId,tmdbId
79,79.000,"Shawshank Redemption, The (1994)",Crime Drama,bad ending stephan king freedom hope inspirati...,Crime Drama bad ending stephan king freedom ho...,4.414,81482,4.407,111161,278.000
96,96.000,"Godfather, The (1972)",Crime Drama,italian mafia italy Mafia Marlon Brando Mafia ...,Crime Drama italian mafia italy Mafia Marlon B...,4.324,52498,4.315,68646,238.000
252,252.000,"Usual Suspects, The (1995)",Crime Mystery Thriller,imdb top 250 heist suspense thriller twist end...,Crime Mystery Thriller imdb top 250 heist susp...,4.284,55366,4.275,114814,629.000
276,276.000,"Godfather: Part II, The (1974)",Crime Drama,imdb top 250 Oscar (Best Picture) 100 Greatest...,Crime Drama imdb top 250 Oscar (Best Picture) ...,4.262,34188,4.248,71562,240.000
89,89.000,Schindler's List (1993),Drama War,based on a true story true story imdb top 250 ...,Drama War based on a true story true story imd...,4.248,60411,4.240,108052,424.000
297,297.000,Fight Club (1999),Action Crime Drama Thriller,complicated mindfuck violence atmospheric dark...,Action Crime Drama Thriller complicated mindfu...,4.228,58773,4.220,137523,550.000
288,288.000,Seven Samurai (Shichinin no samurai) (1954),Action Adventure Drama,Akira Kurosawa atmospheric epic historical lon...,Action Adventure Drama Akira Kurosawa atmosphe...,4.255,13367,4.219,47478,346.000
1063,1063.000,Rear Window (1954),Mystery Thriller,50s imdb top 250 Edgar Award (Best Motion Pict...,Mystery Thriller 50s imdb top 250 Edgar Award ...,4.238,20162,4.215,47396,567.000
999,999.000,12 Angry Men (1957),Drama,classic courtroom courtroom drama group psycho...,Drama classic courtroom courtroom drama group ...,4.243,16569,4.215,50083,389.000
1844,1844.000,One Flew Over the Cuckoo's Nest (1975),Drama,imdb top 250 Oscar (Best Picture) asylum based...,Drama imdb top 250 Oscar (Best Picture) asylum...,4.219,36058,4.206,73486,510.000
1057,1057.000,Dr. Strangelove or: How I Learned to Stop Worr...,Comedy War,ending kinda ruined it imdb top 250 100 Greate...,Comedy War ending kinda ruined it imdb top 250...,4.216,26714,4.198,57012,935.000
907,907.000,Planet Earth (2006),Documentary,David Attenborough nature amazing photography ...,Documentary David Attenborough nature amazing ...,4.465,1747,4.198,795176,192040.000
860,860.000,Spirited Away (Sen to Chihiro no kamikakushi) ...,Adventure Animation Fantasy,imdb top 250 adventure alternate reality amazi...,Adventure Animation Fantasy imdb top 250 adven...,4.212,22719,4.192,245429,129.000
265,265.000,Casablanca (1942),Drama Romance,imdb top 250 Oscar (Best Picture) atmospheric ...,Drama Romance imdb top 250 Oscar (Best Picture...,4.207,26890,4.189,34583,289.000
0,0.000,Pulp Fiction (1994),Comedy Crime Drama Thriller,assassin Black comedy cult film dark comedy Qu...,Comedy Crime Drama Thriller assassin Black com...,4.189,79672,4.183,110912,680.000
1305,1305.000,North by Northwest (1959),Action Adventure Mystery Romance Thriller,imdb top 250 Alfred Hitchcock Cary Grant Eva M...,Action Adventure Mystery Romance Thriller imdb...,4.197,16850,4.170,53125,213.000
274,274.000,Goodfellas (1990),Crime Drama,mafia Martin Scorsese crime dark comedy gangst...,Crime Drama mafia Martin Scorsese crime dark c...,4.181,32663,4.167,99685,769.000
37,37.000,City of God (Cidade de Deus) (2002),Action Adventure Crime Drama Thriller,atmospheric crime disturbing drugs multiple st...,Action Adventure Crime Drama Thriller atmosphe...,4.182,19894,4.159,317248,598.000
578,578.000,"Dark Knight, The (2008)",Action Crime Drama IMAX,action Atmospheric Batman Christian Bale comic...,Action Crime Drama IMAX action Atmospheric Bat...,4.167,41519,4.156,468569,155.000
1663,1663.000,"Lives of Others, The (Das leben der Anderen) (...",Drama Romance Thriller,imdb top 250 East Germany stasi surveillance B...,Drama Romance Thriller imdb top 250 East Germa...,4.200,9177,4.152,405094,582.000

In [40]:
content_data.shape

(59047, 10)

In [41]:
content_data.to_csv('data/content_data.csv')

## Similarity Calculator

In [51]:
content_embeddings = pd.read_pickle("data/autoencoder_embeddings_4.pkl")
content_embeddings = pd.DataFrame(content_embeddings)
content_embeddings.shape

(59047, 200)

In [52]:
content_embeddings.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-0.475,0.925,-0.379,5.966,0.821,-0.539,-0.497,-0.435,-0.417,0.285,...,-0.315,-0.251,-0.394,-0.562,1.853,7.514,-0.345,-0.302,-0.389,-0.567
1,-0.475,-0.378,-0.379,-0.218,-0.159,-0.539,-0.497,-0.435,-0.417,-0.368,...,-0.315,-0.251,-0.394,-0.562,-0.142,-0.221,-0.345,-0.302,-0.389,0.717
2,-0.185,-0.378,-0.379,0.859,-0.159,-0.539,-0.497,-0.435,-0.417,0.096,...,-0.315,-0.251,-0.394,-0.195,-0.142,0.641,-0.225,-0.302,-0.389,-0.540
3,-0.475,-0.378,-0.379,-0.442,-0.159,-0.539,-0.497,-0.435,-0.417,-0.368,...,-0.315,-0.251,-0.394,0.402,-0.142,-0.221,-0.345,-0.302,-0.389,-0.567
4,-0.092,-0.157,-0.269,-0.442,-0.159,-0.539,-0.396,-0.435,-0.417,-0.368,...,-0.315,-0.251,-0.394,-0.454,-0.142,-0.221,-0.144,-0.302,-0.389,-0.499

In [53]:
collaborative_embeddings = pd.read_pickle("data/collab_nn_embeddings_23.pkl")
collaborative_embeddings = pd.DataFrame(collaborative_embeddings)
collaborative_embeddings.shape

(59047, 100)

In [48]:
collaborative_embeddings.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.518,0.651,0.024,-0.287,0.736,-0.550,0.344,0.258,-0.398,-0.641,...,0.858,-0.288,-0.815,0.458,-0.567,0.396,0.634,0.199,0.461,-0.488
1,0.086,0.546,-0.400,0.018,0.334,-0.449,0.289,-0.793,0.046,0.148,...,-0.047,0.216,0.489,0.597,0.374,0.315,-0.644,0.204,0.440,0.016
2,-0.016,0.789,-0.308,-0.267,0.616,-0.251,0.447,-0.847,-0.018,0.468,...,0.238,0.108,0.415,0.654,0.479,-0.119,-0.502,0.348,0.537,0.046
3,0.259,0.236,0.081,0.133,0.308,-0.364,-0.608,0.329,-0.271,0.181,...,-0.110,0.042,-0.301,-0.030,0.396,0.009,0.098,0.645,0.416,-0.457
4,0.453,0.754,0.028,-0.108,0.174,0.082,-0.137,-0.320,0.214,-0.649,...,0.529,-0.833,0.232,0.350,-0.285,0.306,0.127,0.740,0.609,0.202

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

class SimilarityCalculator(object):
    def __init__(self, embeddings):
        self.embeddings = embeddings
        self.ids = embeddings.index.tolist()
        self.similarity_matrix = self.calculate_cosine_similarity_matrix()
      

    def calculate_cosine_similarity_matrix(self):
        '''Calculates a cosine similarity matrix from the embeddings'''
        similarity_matrix = pd.DataFrame(
            cosine_similarity(X=self.embeddings),
            index=self.ids
        )
        similarity_matrix.columns = self.ids
        return similarity_matrix
    

    def predict_similarity(self, seed, n):
        '''Use the similarity_matrix to return n most similar items.'''
        similar_items = pd.DataFrame(self.similarity_matrix.loc[seed])
        similar_items.columns = ["similarity_score"]
        similar_items = similar_items.sort_values('similarity_score', ascending=False)
        similar_items = similar_items.head(n)
        similar_items.reset_index(inplace=True)
        similar_items = similar_items.rename(index=str, columns={"index": "movieId"})
        return similar_items.to_dict()

In [43]:
poster_lookup = {}

In [92]:
import re

class RecommenderEngine(object):
    def __init__(self, content_emb, collab_emb, content_data):
        self.content_emb = content_emb
        self.collab_emb = collab_emb
        self.content_data = content_data
        
        
    def get_release_year(self, row):
        # strip the year from the title 
        title = row["title"]
        year = re.search(r'\(\d{4}\)', title)
        if year:
            year = year.group(0)
        else:
            return None
        year = int(year.replace('(', '').replace(')', ''))
        return year


    # we need to fetch more data for each movie, create function that does that
    def fetch_tmdb_info(self, row):
        movie_id = int(row.movieId)
        if math.isnan(movie_id):
            return ""
        poster_path = poster_lookup.get(movie_id)
        if poster_path:
            print('{} found in cache'.format(movie_id))
            return poster_path
        # else:
            print('{} not found in cache, starting download...'.format(movie_id))
        url = "https://api.themoviedb.org/3/movie/{}?api_key=dd79e14b13a7da58c6c6a90e68a301a9&language=en-US".format(int(row.tmdbId))
        response = requests.request('GET', url)
        r = response.json()
        movie_id = int(row.movieId)
        poster_path = r.get('poster_path')
        # store for quick lookup later
        poster_lookup[movie_id] = poster_path
        print('{} downloaded and cached'.format(movie_id))
        return poster_path


    def top_list(self, n):
        # load or build top 200 based on weighted IMDB ratings formula 
        # and remove movies from before 1990
        if os.path.isfile('data/top_list.json'):
            return pd.read_json('data/top_list.json')
        else:
            # remove old movies
            release_year = self.content_data.apply(self.get_release_year, axis=1)
            year_mask = release_year >= 1990
            top_100 = self.content_data[year_mask]
            # rank by imdb ratings formula and keep top 100
            top_100 = top_100.sort_values("weighted_rating", ascending=False).head(n)
            top_100["poster_path"] = top_100.apply(self.fetch_tmdb_info, axis=1)
            # drop columns that we don't need 
            top_100 = top_100.drop("genres", axis=1)
            top_100 = top_100.drop("tag", axis=1)
            top_100 = top_100.drop("rating", axis=1)
            top_100 = top_100.drop("ratings_count", axis=1)
            top_100 = top_100.drop("weighted_rating", axis=1)
            top_100 = top_100.drop("imdbId", axis=1)
            top_100 = top_100.drop("corpus", axis=1)
            top_100 = top_100.drop("tmdbId", axis=1)
            top_100.to_json('data/top_list.json', orient='records')
            return top_100


    def recommend_movies(self, movie_id):
        file_name = '{}_recs.json'.format(str(movie_id))
        path = 'data/recs/{}'.format(file_name)
        if os.path.isfile(path):
            return pd.read_json(path)
            
        # find similar from collab
        similarity_collab = SimilarityCalculator(self.collab_emb)
        similiarty_collab = similarity_collab.predict_similarity(seed=movie_id, n=self.content_data.shape[0])
        similiarty_collab_df = pd.DataFrame(similiarty_collab)
        similiarty_collab_df.set_index('movieId', inplace=True)
        similiarty_collab_df = pd.merge(self.content_data, similiarty_collab_df, left_index=True, right_index=True)
        similiarty_collab_df.sort_values('similarity_score', ascending=False, inplace=True)
        similiarty_collab_df = similiarty_collab_df.rename(index=str, columns={"similarity_score": "collaborative_similarity_score"})
        
        # find simlar from content
        similarity_content = SimilarityCalculator(self.content_emb)
        similarity_content = similarity_content.predict_similarity(seed=movie_id, n=self.content_data.shape[0])
        similarity_content_df = pd.DataFrame(similarity_content)
        similarity_content_df.set_index('movieId', inplace=True)
        similarity_content_df = pd.merge(self.content_data, similarity_content_df, left_index=True, right_index=True)
        similarity_content_df.sort_values('similarity_score', ascending=False, inplace=True)
        similarity_content_df = similarity_content_df.rename(index=str, columns={"similarity_score": "content_similarity_score"})
        
        # average the results (please test if we should weight content higher)
        similarity_avg = pd.merge(similiarty_collab_df, pd.DataFrame(similarity_content_df['content_similarity_score']), left_index=True, right_index=True)
        similarity_avg['average_similarity_score'] = (similarity_avg['content_similarity_score'] + similarity_avg['collaborative_similarity_score'])/2
        similarity_avg.sort_values('average_similarity_score', ascending=False, inplace=True)
        
        # remove old movies
        release_year = similarity_avg.apply(self.get_release_year, axis=1)
        year_mask = release_year >= 1990
        similarity_avg = similarity_avg[year_mask]
        # save the top 10
        similarity_avg = similarity_avg.head(10)
        similarity_avg["poster_path"] = similarity_avg.apply(self.fetch_tmdb_info, axis=1)
        # drop columns that we don't need 
        similarity_avg = similarity_avg.drop("genres", axis=1)
        similarity_avg = similarity_avg.drop("tag", axis=1)
        similarity_avg = similarity_avg.drop("rating", axis=1)
        similarity_avg = similarity_avg.drop("ratings_count", axis=1)
        similarity_avg = similarity_avg.drop("weighted_rating", axis=1)
        similarity_avg = similarity_avg.drop("imdbId", axis=1)
        similarity_avg = similarity_avg.drop("corpus", axis=1)
        similarity_avg = similarity_avg.drop("tmdbId", axis=1)
        
        similarity_avg.to_json(path, orient='records')
        return similarity_avg

In [93]:
rec_engine = RecommenderEngine(content_embeddings, collaborative_embeddings, content_data)

In [94]:
%%time
top_list = rec_engine.top_list(200)
top_list.head()

CPU times: user 12.7 ms, sys: 1.04 ms, total: 13.8 ms
Wall time: 12.1 ms

   movieId                             title                       poster_path
0       79  Shawshank Redemption, The (1994)  /5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg
1      252        Usual Suspects, The (1995)  /bUPmtQzrRhzqYySeiMpv7GurAfm.jpg
2       89           Schindler's List (1993)  /lKb6h6LURE33I3GRFYgHBUfjwSU.jpg
3      297                 Fight Club (1999)  /k1lICEYRpJeFRIRfjxYwmpO9LTu.jpg
4      907               Planet Earth (2006)                              None

In [95]:
top_list.poster_path[0]

'/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg'

In [96]:
content_data[content_data.movieId == 245]

,movieId,title,genres,tag,corpus,rating,ratings_count,weighted_rating,imdbId,tmdbId
245,245.000,Batman Begins (2005),Action Crime IMAX,action batman billionaire Christian Bale comic...,Action Crime IMAX action batman billionaire Ch...,3.930,30684,3.919,372784,272.000

In [97]:
content_data.query("title == 'Batman Begins (2005)'").movieId

245   245.000
Name: movieId, dtype: float64

In [100]:
%%time
rec_engine.recommend_movies(245)

245 found in cache
578 found in cache
698 found in cache
206 found in cache
6096 found in cache
1699 found in cache
233 found in cache
2548 found in cache
9279 found in cache
2578 found in cache
CPU times: user 48.7 s, sys: 1min 18s, total: 2min 7s
Wall time: 22.2 s

,movieId,title,collaborative_similarity_score,content_similarity_score,average_similarity_score,poster_path
245,245.000,Batman Begins (2005),1.000,1.000,1.000,/8RW2runSEc34IwKN2D1aPcJd2UL.jpg
578,578.000,"Dark Knight, The (2008)",0.859,0.816,0.837,/qJ2tW6WMUDux911r6m7haRef0WH.jpg
698,698.000,"Dark Knight Rises, The (2012)",0.801,0.802,0.802,/85cWkCVftiVs0BVey6pxX8uNmLt.jpg
206,206.000,Spider-Man (2002),0.394,0.848,0.621,/gh4cZbhZxyTbgxQPxD0dOudNPTn.jpg
6096,6096.000,Batman vs. Robin (2015),0.345,0.839,0.592,/aGp9XDXmVM5lCKHWtgBC15S7XLr.jpg
1699,1699.000,Batman Returns (1992),0.259,0.923,0.591,/jKBjeXM7iBBV9UkUcOXx3m7FSHY.jpg
233,233.000,Spider-Man 2 (2004),0.308,0.861,0.584,/olxpyq9kJAZ2NU1siLshhhXEPR7.jpg
2548,2548.000,Batman: Mask of the Phantasm (1993),0.266,0.867,0.567,/l4jaQjkgznu2Rz05X18f24UjPNW.jpg
9279,9279.000,Justice League: Gods and Monsters (2015),0.277,0.819,0.548,/bz9717vMiTw2EGvGQUPRK4WLQ6G.jpg
2578,2578.000,Superman Returns (2006),0.232,0.863,0.547,/4p527M0wif7dyEQr7UD01dUkYck.jpg

In [101]:
content_data.query("title == 'Planet Earth (2006)'").movieId

907   907.000
Name: movieId, dtype: float64

In [102]:
content_data.query("title == 'Shawshank Redemption, The (1994)'").movieId

79   79.000
Name: movieId, dtype: float64

In [103]:
content_data.query("title == 'Lord of the Rings: The Two Towers, The (2002)'").movieId

36   36.000
Name: movieId, dtype: float64

In [104]:
# Planet Earth (2006)
rec_engine.recommend_movies(907)

907 downloaded and cached
4018 downloaded and cached
24812 downloaded and cached
17227 downloaded and cached
6842 downloaded and cached
4055 downloaded and cached
32367 downloaded and cached
26604 downloaded and cached
6492 downloaded and cached
32542 downloaded and cached

,movieId,title,collaborative_similarity_score,content_similarity_score,average_similarity_score,poster_path
907,907.000,Planet Earth (2006),1.000,1.000,1.000,None
4018,4018.000,Blue Planet II (2017),0.693,0.688,0.690,None
24812,24812.000,Bab'Aziz -The Prince Who Contemplated His Soul...,0.713,0.664,0.688,/kuYuA9Wl7ZaERz4YkPUYSBNLlDb.jpg
17227,17227.000,Winter on Fire: Ukraine's Fight for Freedom (2...,0.611,0.745,0.678,/c3IMOdEzVOiGli1LpEcZyjEIGje.jpg
6842,6842.000,"First Day of the Rest of Your Life, The (Le pr...",0.555,0.778,0.666,/w6pi0wqfNnwbCWc98jW3opwl0dF.jpg
4055,4055.000,Company (2011),0.596,0.731,0.664,/kpvvHmWTnVAl9oEiGouQ1GZKvmf.jpg
32367,32367.000,Louis Theroux: America's Medicated Kids (2010),0.559,0.761,0.660,None
26604,26604.000,Midnight Diner (2014),0.552,0.742,0.647,/ujVev04jwc1kB9NenXK50xPE6rG.jpg
6492,6492.000,Silenced (2011),0.617,0.675,0.646,/mbMp0oIFmYnw0i5gzRoKt8cH5ve.jpg
32542,32542.000,Root of All Evil? (2006),0.540,0.750,0.645,/gOw03UkPXB7klc9XLsqFdP2Dvyj.jpg

In [105]:
# Shawshank Redemption, The (1994)
rec_engine.recommend_movies(79)

79 found in cache
1717 found in cache
252 found in cache
1001 found in cache
89 found in cache
167 found in cache
82 found in cache
203 found in cache
260 found in cache
924 found in cache

,movieId,title,collaborative_similarity_score,content_similarity_score,average_similarity_score,poster_path
79,79.000,"Shawshank Redemption, The (1994)",1.000,1.000,1.000,/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg
1717,1717.000,"Green Mile, The (1999)",0.664,0.967,0.815,/velWPhVMQeQKcxggNEU8YmIo52R.jpg
252,252.000,"Usual Suspects, The (1995)",0.601,0.938,0.770,/bUPmtQzrRhzqYySeiMpv7GurAfm.jpg
1001,1001.000,Good Will Hunting (1997),0.540,0.973,0.757,/ylagLHIbG0F1blqSFqY6pa56Omr.jpg
89,89.000,Schindler's List (1993),0.553,0.959,0.756,/lKb6h6LURE33I3GRFYgHBUfjwSU.jpg
167,167.000,"Sixth Sense, The (1999)",0.426,0.973,0.699,/fIssD3w3SvIhPPmVo4WMgZDVLID.jpg
82,82.000,Forrest Gump (1994),0.499,0.894,0.697,/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg
203,203.000,"Beautiful Mind, A (2001)",0.444,0.932,0.688,/mV4k9qlrdvECe4COBTN256FROR3.jpg
260,260.000,"Silence of the Lambs, The (1991)",0.452,0.909,0.681,/rplLJ2hPcOQmkFhTqUte0MkEaO2.jpg
924,924.000,Seven (a.k.a. Se7en) (1995),0.398,0.962,0.680,/6yoghtyTpznpBik8EngEmJskVUO.jpg

In [106]:
# Lord of the Rings: The Two Towers, The (2002)
rec_engine.recommend_movies(36)

36 found in cache
202 found in cache
227 found in cache
722 downloaded and cached
749 downloaded and cached
5615 downloaded and cached
159 found in cache
601 downloaded and cached
5875 downloaded and cached
2552 downloaded and cached

,movieId,title,collaborative_similarity_score,content_similarity_score,average_similarity_score,poster_path
36,36.000,"Lord of the Rings: The Two Towers, The (2002)",1.000,1.000,1.000,/5VTN0pR8gcqV3EPUHHfMGnJYN9L.jpg
202,202.000,"Lord of the Rings: The Fellowship of the Ring,...",0.978,0.995,0.987,/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg
227,227.000,"Lord of the Rings: The Return of the King, The...",0.979,0.979,0.979,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg
722,722.000,"Hobbit: An Unexpected Journey, The (2012)",0.567,0.971,0.769,/yHA9Fc37VmpUA5UncTxxo3rTGVA.jpg
749,749.000,"Hobbit: The Desolation of Smaug, The (2013)",0.527,0.983,0.755,/aU8pXaBa9lNICdhFCVHzSfmgqsq.jpg
5615,5615.000,The Hobbit: The Battle of the Five Armies (2014),0.496,0.918,0.707,/xT98tLqatZPQApyRmlPL12LtiWp.jpg
159,159.000,"Matrix, The (1999)",0.340,0.959,0.650,/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg
601,601.000,"Road, The (2009)",0.330,0.946,0.638,/qLaXnLzqleBWQtjvZ6JGVSaKoC3.jpg
5875,5875.000,Macbeth (2015),0.372,0.903,0.637,/fivCMGXkJY29Det2LnItrKM4Cbl.jpg
2552,2552.000,Iron Monkey (Siu nin Wong Fei-hung ji: Tit Ma ...,0.327,0.939,0.633,/gLELnixQLunQOTm9PCpNRxrhU58.jpg

In [183]:
%%time
# fetch all data
# for m in top_100["movieId"]:
    # fetch_tmdb_info(m)

CPU times: user 4 Âµs, sys: 5 Âµs, total: 9 Âµs
Wall time: 16.9 Âµs

In [107]:
%%time
# calculate recommendations for top 100, so we have all movies stored and do not need dynamic calculations
for m in top_list["movieId"]:
    rec_engine.recommend_movies(m).head(1)

252 found in cache
79 found in cache
924 found in cache
1001 found in cache
295 found in cache
251 found in cache
1094 found in cache
3114 downloaded and cached
268 found in cache
167 found in cache
89 found in cache
141 found in cache
79 found in cache
535 downloaded and cached
665 found in cache
239 found in cache
1847 found in cache
1717 found in cache
1822 downloaded and cached
203 found in cache
297 found in cache
924 found in cache
263 found in cache
1586 found in cache
336 found in cache
20482 downloaded and cached
48 found in cache
23 found in cache
21802 downloaded and cached
654 found in cache
860 found in cache
1851 found in cache
1713 found in cache
1946 downloaded and cached
1850 downloaded and cached
1987 downloaded and cached
1954 downloaded and cached
1999 downloaded and cached
2053 downloaded and cached
2035 downloaded and cached
0 found in cache
268 found in cache
1099 downloaded and cached
439 found in cache
614 found in cache
4703 downloaded and cached
451 downloaded and cached
724 found in cache
493 downloaded and cached
1775 downloaded and cached
274 found in cache
1021 downloaded and cached
2134 downloaded and cached
1018 found in cache
14942 downloaded and cached
12656 downloaded and cached
48298 downloaded and cached
38928 downloaded and cached
8607 downloaded and cached
563 downloaded and cached
37 found in cache
1663 found in cache
2695 found in cache
535 found in cache
1822 found in cache
239 found in cache
11417 downloaded and cached
6647 downloaded and cached
16840 downloaded and cached
19714 downloaded and cached
578 found in cache
698 found in cache
245 found in cache
6096 found in cache
9279 found in cache
830 found in cache
42267 found in cache
7686 found in cache
9263 found in cache
1699 found in cache
1663 found in cache
9335 downloaded and cached
1677 downloaded and cached
37 found in cache
2695 found in cache
28800 downloaded and cached
2137 found in cache
2005 downloaded and cached
16840 found in cache
14677 downloaded and cached
159 found in cache
418 downloaded and cached
251 found in cache
208 downloaded and cached
126 downloaded and cached
654 found in cache
93 found in cache
9540 downloaded and cached
167 found in cache
33547 downloaded and cached
260 found in cache
924 found in cache
79 found in cache
89 found in cache
167 found in cache
7064 downloaded and cached
252 found in cache
1663 found in cache
342 downloaded and cached
2137 found in cache
654 found in cache
758 found in cache
159 found in cache
827 found in cache
208 found in cache
725 downloaded and cached
26361 downloaded and cached
33547 found in cache
782 found in cache
671 downloaded and cached
344 found in cache
1095 found in cache
291 found in cache
17890 downloaded and cached
12853 downloaded and cached
16882 downloaded and cached
14558 downloaded and cached
434 downloaded and cached
10910 downloaded and cached
24200 downloaded and cached
152 found in cache
3939 downloaded and cached
4381 downloaded and cached
3672 downloaded and cached
3594 downloaded and cached
1855 downloaded and cached
1823 found in cache
482 downloaded and cached
991 downloaded and cached
9983 downloaded and cached
291 found in cache
12853 downloaded and cached
3549 downloaded and cached
34400 downloaded and cached
9995 downloaded and cached
434 found in cache
14860 downloaded and cached
970 downloaded and cached
981 downloaded and cached
8450 downloaded and cached
1713 found in cache
1851 found in cache
860 found in cache
1946 found in cache
2035 found in cache
1954 found in cache
1999 found in cache
1850 found in cache
416 downloaded and cached
2026 downloaded and cached
534 found in cache
409 downloaded and cached
541 downloaded and cached
363 downloaded and cached
21442 downloaded and cached
1021 found in cache
7083 downloaded and cached
3809 downloaded and cached
29937 downloaded and cached
645 found in cache
909 downloaded and cached
7075 downloaded and cached
14238 downloaded and cached
13066 downloaded and cached
10640 downloaded and cached
40650 downloaded and cached
2695 found in cache
17536 downloaded and cached
28200 downloaded and cached
24165 downloaded and cached
969 found in cache
1449 downloaded and cached
283 found in cache
3967 downloaded and cached
11687 downloaded and cached
5787 downloaded and cached
813 downloaded and cached
632 downloaded and cached
2478 found in cache
1246 downloaded and cached
772 found in cache
3619 found in cache
16882 found in cache
12861 downloaded and cached
36775 downloaded and cached
780 found in cache
7094 downloaded and cached
17227 found in cache
21835 downloaded and cached
6605 downloaded and cached
295 found in cache
23 found in cache
3491 downloaded and cached
252 found in cache
0 found in cache
1586 found in cache
493 found in cache
29 found in cache
159 found in cache
79 found in cache
270 found in cache
262 found in cache
2538 found in cache
865 downloaded and cached
316 downloaded and cached
6441 downloaded and cached
5145 downloaded and cached
9752 downloaded and cached
3943 downloaded and cached
26862 downloaded and cached
1823 found in cache
7512 downloaded and cached
3651 downloaded and cached
638 downloaded and cached
9462 downloaded and cached
22392 downloaded and cached
9256 downloaded and cached
19629 downloaded and cached
19134 downloaded and cached
152 found in cache
29 found in cache
2118 downloaded and cached
3491 found in cache
1557 downloaded and cached
48 found in cache
1619 downloaded and cached
6 found in cache
17751 downloaded and cached
3570 found in cache
18825 downloaded and cached
7086 downloaded and cached
7072 downloaded and cached
15836 downloaded and cached
5470 downloaded and cached
45219 downloaded and cached
21574 downloaded and cached
25747 downloaded and cached
6849 downloaded and cached
2458 downloaded and cached
4225 downloaded and cached
202 found in cache
36 found in cache
227 found in cache
722 found in cache
749 found in cache
5615 found in cache
159 found in cache
601 found in cache
40 downloaded and cached
1334 downloaded and cached
227 found in cache
202 found in cache
36 found in cache
722 found in cache
749 found in cache
5615 found in cache
159 found in cache
40 found in cache
29505 downloaded and cached
40369 downloaded and cached
268 found in cache
0 found in cache
1099 found in cache
614 found in cache
4703 found in cache
724 found in cache
493 found in cache
1695 downloaded and cached
1775 found in cache
252 found in cache
758 found in cache
654 found in cache
827 found in cache
725 found in cache
805 found in cache
128 downloaded and cached
782 found in cache
42687 downloaded and cached
709 downloaded and cached
1772 downloaded and cached
257 found in cache
16882 found in cache
1643 downloaded and cached
1289 downloaded and cached
2563 downloaded and cached
27966 downloaded and cached
30634 downloaded and cached
28200 found in cache
292 found in cache
8450 found in cache
537 found in cache
531 downloaded and cached
867 downloaded and cached
2455 found in cache
5878 downloaded and cached
1751 downloaded and cached
17237 downloaded and cached
28200 found in cache
56535 downloaded and cached
1095 found in cache
924 found in cache
260 found in cache
252 found in cache
297 found in cache
251 found in cache
1001 found in cache
167 found in cache
79 found in cache
1060 downloaded and cached
23 found in cache
262 found in cache
270 found in cache
2538 found in cache
865 found in cache
316 found in cache
6441 found in cache
5145 found in cache
9752 found in cache
870 downloaded and cached
22849 downloaded and cached
1001 found in cache
79 found in cache
11788 downloaded and cached
252 found in cache
203 found in cache
141 found in cache
1717 found in cache
924 found in cache
16840 found in cache
89 found in cache
1851 found in cache
860 found in cache
1713 found in cache
1946 found in cache
2035 found in cache
1850 found in cache
1987 found in cache
1954 found in cache
1999 found in cache
55 found in cache
48 found in cache
29 found in cache
5114 downloaded and cached
1258 found in cache
23 found in cache
1586 found in cache
251 found in cache
751 found in cache
2553 downloaded and cached
297 found in cache
2538 found in cache
270 found in cache
262 found in cache
865 found in cache
316 found in cache
6441 found in cache
5145 found in cache
9752 found in cache
870 found in cache
26862 downloaded and cached

1094 found in cache
252 found in cache
22472 downloaded and cached
13706 downloaded and cached
268 found in cache
292 found in cache
295 found in cache
3097 downloaded and cached
8348 downloaded and cached
0 found in cache
336 found in cache
292 found in cache
297 found in cache
598 downloaded and cached
867 found in cache
416 found in cache
1766 found in cache
1289 found in cache
23124 downloaded and cached
13075 downloaded and cached
480 found in cache
3705 downloaded and cached
416 found in cache
1959 downloaded and cached
1751 found in cache
23723 downloaded and cached
1948 downloaded and cached
297 found in cache
6714 downloaded and cached
2563 found in cache
82 found in cache
1717 found in cache
203 found in cache
79 found in cache
189 downloaded and cached
73 found in cache
1001 found in cache
966 downloaded and cached
89 found in cache
141 found in cache
141 found in cache
89 found in cache
1001 found in cache
73 found in cache
7089 downloaded and cached
2492 downloaded and cached
2989 downloaded and cached
1717 found in cache
7064 found in cache
2870 downloaded and cached
1847 found in cache
89 found in cache
239 found in cache
16840 found in cache
1765 downloaded and cached
3651 found in cache
1661 downloaded and cached
7108 downloaded and cached
4103 downloaded and cached
203 found in cache
2154 found in cache
11025 downloaded and cached
30212 downloaded and cached
7094 found in cache
19169 downloaded and cached
10932 downloaded and cached
2656 downloaded and cached
9343 downloaded and cached
10910 downloaded and cached
2129 found in cache
1 found in cache
2 found in cache
1014 found in cache
44064 downloaded and cached
4900 downloaded and cached
11025 found in cache
3071 downloaded and cached
3871 found in cache
9982 downloaded and cached
1653 downloaded and cached
1717 found in cache
79 found in cache
82 found in cache
203 found in cache
326 downloaded and cached
1001 found in cache
17316 downloaded and cached
57952 downloaded and cached
89 found in cache
2988 downloaded and cached
805 found in cache
758 found in cache
11788 found in cache
827 found in cache
42687 found in cache
128 found in cache
654 found in cache
783 found in cache
671 found in cache
829 downloaded and cached
292 found in cache
336 found in cache
1718 found in cache
268 found in cache
263 found in cache
22472 found in cache
252 found in cache
13543 downloaded and cached
867 found in cache
24407 downloaded and cached
565 found in cache
1814 downloaded and cached
58123 downloaded and cached
12846 downloaded and cached
607 downloaded and cached
14558 found in cache
564 downloaded and cached
18416 downloaded and cached
30212 found in cache
24709 downloaded and cached
3608 found in cache
1669 downloaded and cached
692 downloaded and cached
12726 downloaded and cached
13815 downloaded and cached
604 downloaded and cached
820 found in cache
228 downloaded and cached
2454 downloaded and cached
14627 downloaded and cached
167 found in cache
208 found in cache
159 found in cache
186 downloaded and cached
79 found in cache
924 found in cache
1872 downloaded and cached
1717 found in cache
9540 found in cache
252 found in cache
3865 found in cache
29622 downloaded and cached
9982 found in cache
2656 found in cache
3871 found in cache
3488 downloaded and cached
38841 downloaded and cached
10107 downloaded and cached
34414 downloaded and cached
13414 downloaded and cached
72 found in cache
317 downloaded and cached
181 found in cache
546 found in cache
204 downloaded and cached
2390 downloaded and cached
29836 downloaded and cached
82 found in cache
2973 downloaded and cached
2824 downloaded and cached
2144 found in cache
3890 downloaded and cached
3962 downloaded and cached
7014 downloaded and cached
11702 downloaded and cached
24411 downloaded and cached
4500 downloaded and cached
11953 downloaded and cached
3702 downloaded and cached
36981 downloaded and cached
614 found in cache
724 found in cache
4703 found in cache
0 found in cache
1099 found in cache
268 found in cache
439 found in cache
1775 found in cache
1770 downloaded and cached
451 found in cache
263 found in cache
297 found in cache
23 found in cache
26705 downloaded and cached
1037 downloaded and cached
252 found in cache
37 found in cache
292 found in cache
1375 downloaded and cached
21802 found in cache
586 found in cache
3695 downloaded and cached
626 downloaded and cached
251 found in cache
654 found in cache
630 downloaded and cached
29505 found in cache
11429 downloaded and cached
506 downloaded and cached
9369 downloaded and cached
827 found in cache
782 found in cache
758 found in cache
128 found in cache
1686 found in cache
743 downloaded and cached
1780 found in cache
751 found in cache
835 found in cache
28840 downloaded and cached
2129 found in cache
2154 found in cache
17299 downloaded and cached
11023 downloaded and cached
16920 downloaded and cached
42683 downloaded and cached
9355 downloaded and cached
6579 downloaded and cached
1612 downloaded and cached
37705 downloaded and cached
916 found in cache
838 downloaded and cached
830 found in cache
236 found in cache
13386 downloaded and cached
6551 downloaded and cached
17277 downloaded and cached
17018 downloaded and cached
781 found in cache
21835 found in cache
757 found in cache
15947 downloaded and cached
26361 found in cache
2118 found in cache
29505 found in cache
4703 found in cache
724 found in cache
614 found in cache
2552 found in cache
23872 downloaded and cached
724 found in cache
614 found in cache
4703 found in cache
0 found in cache
268 found in cache
439 found in cache
1775 found in cache
451 found in cache
1099 found in cache
1770 downloaded and cached
1686 found in cache
19720 downloaded and cached
835 found in cache
782 found in cache
284 downloaded and cached
827 found in cache
601 found in cache
1772 found in cache
198 downloaded and cached
626 found in cache
23 found in cache
1701 downloaded and cached
295 found in cache
1586 found in cache
1241 downloaded and cached
3097 found in cache
2696 downloaded and cached
3884 downloaded and cached
536 found in cache
29 found in cache
820 found in cache
16821 downloaded and cached
3608 found in cache
12853 downloaded and cached
692 found in cache
3589 downloaded and cached
21041 downloaded and cached
16137 downloaded and cached
14982 downloaded and cached
4562 downloaded and cached
2025 found in cache
6644 found in cache
18275 downloaded and cached
137 downloaded and cached
9691 downloaded and cached
92 downloaded and cached
5692 downloaded and cached
6642 downloaded and cached
15017 downloaded and cached
83 downloaded and cached
1314 found in cache
3871 found in cache
1861 downloaded and cached
922 found in cache
6703 downloaded and cached
3492 found in cache
991 found in cache
2554 downloaded and cached
11149 downloaded and cached
10873 downloaded and cached
783 found in cache
2059 downloaded and cached
203 found in cache
11788 found in cache
819 downloaded and cached
535 found in cache
805 found in cache
58298 downloaded and cached
665 found in cache
2988 found in cache
1079 found in cache
36764 downloaded and cached
4755 downloaded and cached
34756 downloaded and cached
40676 downloaded and cached
24370 downloaded and cached
43459 downloaded and cached
13645 downloaded and cached
41597 downloaded and cached
2006 downloaded and cached
1183 found in cache
7064 found in cache
4222 downloaded and cached
2492 found in cache
16840 found in cache
13706 found in cache
484 downloaded and cached
1000 downloaded and cached
571 found in cache
7108 found in cache
1710 found in cache
7161 downloaded and cached
23669 downloaded and cached
17227 found in cache
10807 downloaded and cached
1501 downloaded and cached
4845 downloaded and cached
1337 downloaded and cached
43233 downloaded and cached
825 downloaded and cached
85 found in cache
3977 downloaded and cached
28078 downloaded and cached
41871 downloaded and cached
81 downloaded and cached
32063 downloaded and cached
42221 downloaded and cached
18575 downloaded and cached
7083 found in cache
21595 downloaded and cached
1012 found in cache
27696 downloaded and cached
34808 downloaded and cached
13943 downloaded and cached
11025 found in cache
24812 found in cache

10026 downloaded and cached
3505 downloaded and cached
44064 found in cache
34544 downloaded and cached
533 found in cache
2118 found in cache
3570 found in cache
611 downloaded and cached
11429 found in cache
626 found in cache
442 found in cache
23095 downloaded and cached
1415 downloaded and cached
1822 found in cache
283 found in cache
969 found in cache
4686 downloaded and cached
4687 downloaded and cached
16361 downloaded and cached
6882 downloaded and cached
16350 downloaded and cached
886 downloaded and cached
13796 downloaded and cached
27652 downloaded and cached
2697 found in cache
46510 downloaded and cached
50989 downloaded and cached
24628 downloaded and cached
43321 downloaded and cached
24498 found in cache
28976 downloaded and cached
17338 downloaded and cached
14434 downloaded and cached
23780 downloaded and cached
4041 found in cache
12787 downloaded and cached
1958 found in cache
10950 downloaded and cached
3505 found in cache
9343 found in cache
10932 downloaded and cached
9696 downloaded and cached
11025 found in cache
6605 found in cache
698 found in cache
578 found in cache
245 found in cache
6096 found in cache
830 found in cache
9279 found in cache
42267 found in cache
9263 found in cache
9284 found in cache
20243 found in cache
500 found in cache
516 found in cache
1041 downloaded and cached
775 found in cache
1780 found in cache
301 downloaded and cached
616 downloaded and cached
21830 downloaded and cached
458 downloaded and cached
1693 downloaded and cached
19 found in cache
344 found in cache
6484 downloaded and cached
14009 downloaded and cached
3898 downloaded and cached
16076 downloaded and cached
6405 downloaded and cached
6277 downloaded and cached
54064 downloaded and cached
41749 downloaded and cached
203 found in cache
1717 found in cache
411 found in cache
1001 found in cache
16840 found in cache
1765 found in cache
2988 found in cache
783 found in cache
82 found in cache
239 found in cache
876 found in cache
544 downloaded and cached
39 downloaded and cached
2018 downloaded and cached
199 downloaded and cached
806 found in cache
781 found in cache
4012 downloaded and cached
174 downloaded and cached
6648 downloaded and cached
239 found in cache
535 found in cache
89 found in cache
203 found in cache
17316 found in cache
1822 found in cache
6647 found in cache
37 found in cache
16840 found in cache
484 found in cache
571 found in cache
1778 downloaded and cached
536 found in cache
2696 found in cache
757 found in cache
8367 downloaded and cached
4738 downloaded and cached
2989 found in cache
4703 found in cache
3641 downloaded and cached
645 found in cache
409 found in cache
541 found in cache
2382 downloaded and cached
5925 downloaded and cached
537 found in cache
2455 found in cache
300 downloaded and cached
750 found in cache
152 found in cache
2472 found in cache
29840 downloaded and cached
24490 downloaded and cached
25705 downloaded and cached
21059 downloaded and cached
29645 downloaded and cached
39605 downloaded and cached
43783 downloaded and cached
2730 downloaded and cached
32731 downloaded and cached
181 found in cache
204 found in cache
1878 downloaded and cached
184 downloaded and cached
27520 downloaded and cached
6595 downloaded and cached
228 found in cache
221 downloaded and cached
329 downloaded and cached
20656 downloaded and cached
3871 found in cache
30212 found in cache
24812 found in cache
35379 downloaded and cached
25703 downloaded and cached
3543 downloaded and cached
11025 found in cache
7561 downloaded and cached
12847 downloaded and cached
11068 downloaded and cached
3027 found in cache
905 found in cache
2018 found in cache
806 found in cache
7000 downloaded and cached
968 downloaded and cached
876 found in cache
893 downloaded and cached
15702 downloaded and cached
6996 downloaded and cached
1586 found in cache
23 found in cache
1751 found in cache
297 found in cache
1701 found in cache
295 found in cache
48 found in cache
1686 found in cache
251 found in cache
16108 downloaded and cached
782 found in cache
827 found in cache
751 found in cache
714 downloaded and cached
1686 found in cache
835 found in cache
33547 found in cache
758 found in cache
1818 downloaded and cached
2008 downloaded and cached
93 found in cache
1712 downloaded and cached
159 found in cache
86 downloaded and cached
33368 downloaded and cached
79 found in cache
167 found in cache
2027 downloaded and cached
1010 downloaded and cached
126 found in cache
2459 found in cache
23134 downloaded and cached
3488 found in cache
16963 downloaded and cached
1250 found in cache
11192 downloaded and cached
30212 found in cache
4346 downloaded and cached
9995 found in cache
42571 downloaded and cached
1009 found in cache
9335 found in cache
1013 found in cache
2467 downloaded and cached
1823 found in cache
12904 downloaded and cached
991 found in cache
9462 found in cache
1959 found in cache
3574 downloaded and cached
1007 found in cache
2676 downloaded and cached
1281 found in cache
1656 downloaded and cached
1301 downloaded and cached
1008 found in cache
3245 downloaded and cached
77 downloaded and cached
2955 downloaded and cached
16358 downloaded and cached
2147 found in cache
13073 downloaded and cached
6842 found in cache
3505 found in cache
26779 downloaded and cached
5475 downloaded and cached
20334 downloaded and cached
14058 downloaded and cached
36426 downloaded and cached
4041 found in cache
1958 found in cache
4041 found in cache
27638 downloaded and cached
3562 downloaded and cached
27646 downloaded and cached
9343 found in cache
46 downloaded and cached
16018 downloaded and cached
2575 downloaded and cached
33029 downloaded and cached
2 found in cache
1 found in cache
6210 downloaded and cached
10107 found in cache
4552 downloaded and cached
5975 downloaded and cached
1014 found in cache
6572 downloaded and cached
5871 downloaded and cached
3520 downloaded and cached
261 found in cache
479 downloaded and cached
812 downloaded and cached
26361 found in cache
2027 found in cache
2696 found in cache
4330 downloaded and cached
6964 downloaded and cached
1935 downloaded and cached
6 found in cache
4755 downloaded and cached
1079 found in cache
3488 found in cache
12160 downloaded and cached
3892 downloaded and cached
6842 found in cache
30212 found in cache
39171 downloaded and cached
9593 downloaded and cached
20656 found in cache
2455 found in cache
6595 found in cache
3937 downloaded and cached
4717 downloaded and cached
3809 found in cache
6445 downloaded and cached
537 found in cache
16644 downloaded and cached
8021 downloaded and cached
9995 found in cache
785 found in cache
17517 downloaded and cached
15676 downloaded and cached
52733 downloaded and cached
14442 downloaded and cached
31589 downloaded and cached
3552 downloaded and cached
14109 downloaded and cached
16137 found in cache
27977 downloaded and cached
1483 found in cache
2361 downloaded and cached
1417 downloaded and cached
30640 downloaded and cached
22491 downloaded and cached
10873 found in cache
2365 downloaded and cached
25703 found in cache
11687 found in cache
11953 found in cache
24 found in cache
66 downloaded and cached
1890 found in cache
10624 downloaded and cached
5475 found in cache
9589 downloaded and cached
12025 downloaded and cached
10660 downloaded and cached
9784 downloaded and cached
19217 downloaded and cached
411 found in cache
203 found in cache
16840 found in cache
750 found in cache
73 found in cache
727 downloaded and cached
40190 downloaded and cached
654 found in cache
41748 downloaded and cached
2382 found in cache
2207 found in cache
6147 downloaded and cached
3488 found in cache
7704 downloaded and cached
54797 downloaded and cached
3543 found in cache
30562 downloaded and cached
12160 found in cache
2669 found in cache
24143 downloaded and cached
1824 found in cache
2757 downloaded and cached
4020 downloaded and cached
6592 downloaded and cached
1430 downloaded and cached
22210 downloaded and cached
1642 downloaded and cached
38912 downloaded and cached
26954 downloaded and cached
23985 downloaded and cached
1008 found in cache
2676 downloaded and cached
1007 found in cache
4033 downloaded and cached

1298 downloaded and cached
3245 found in cache
4032 downloaded and cached
1301 found in cache
2955 found in cache
1656 found in cache
768 found in cache
678 downloaded and cached
714 found in cache
725 found in cache
616 found in cache
93 found in cache
5007 downloaded and cached
805 found in cache
4978 downloaded and cached
779 downloaded and cached
2665 found in cache
24272 downloaded and cached
46 found in cache
10901 downloaded and cached
17227 found in cache
6605 found in cache
14982 found in cache
33421 downloaded and cached
6842 found in cache
16882 found in cache
2478 found in cache
3597 downloaded and cached
10944 downloaded and cached
422 downloaded and cached
1275 downloaded and cached
15721 downloaded and cached
1814 found in cache
907 downloaded and cached
9337 downloaded and cached
15800 downloaded and cached
775 found in cache
797 downloaded and cached
4006 downloaded and cached
795 found in cache
693 downloaded and cached
760 downloaded and cached
799 downloaded and cached
793 downloaded and cached
791 downloaded and cached
796 downloaded and cached
6 found in cache
250 found in cache
9052 downloaded and cached
10630 downloaded and cached
29 found in cache
284 found in cache
8866 downloaded and cached
261 found in cache
10640 found in cache
18806 downloaded and cached
773 found in cache
11032 downloaded and cached
2455 found in cache
4564 downloaded and cached
20272 downloaded and cached
5894 downloaded and cached
701 downloaded and cached
5596 downloaded and cached
2664 found in cache
36118 downloaded and cached
806 found in cache
905 found in cache
5005 downloaded and cached
781 found in cache
16906 downloaded and cached
876 found in cache
1856 downloaded and cached
27787 downloaded and cached
17227 found in cache
544 found in cache
2660 found in cache
3869 downloaded and cached
34 found in cache
64 downloaded and cached
3963 downloaded and cached
1664 downloaded and cached
3881 downloaded and cached
15563 downloaded and cached
379 downloaded and cached
8870 downloaded and cached
3492 found in cache
6147 found in cache
1691 downloaded and cached
3543 found in cache
11401 downloaded and cached
3871 found in cache
3892 found in cache
2466 downloaded and cached
11025 found in cache
2554 found in cache
558 found in cache
207 found in cache
234 downloaded and cached
3038 downloaded and cached
538 downloaded and cached
1766 found in cache
602 downloaded and cached
612 downloaded and cached
517 downloaded and cached
19183 downloaded and cached
922 found in cache
2232 found in cache
2680 found in cache
1474 downloaded and cached
3892 found in cache
991 found in cache
32511 downloaded and cached
39171 found in cache
2805 downloaded and cached
12923 downloaded and cached
1633 found in cache
1258 found in cache
3329 downloaded and cached
2553 found in cache
11407 downloaded and cached
41 downloaded and cached
4721 downloaded and cached
751 found in cache
3943 found in cache
3720 downloaded and cached
780 found in cache
10932 downloaded and cached
21835 found in cache
12637 downloaded and cached
9696 found in cache
7298 downloaded and cached
24010 downloaded and cached
6605 found in cache
24143 found in cache
772 found in cache
3024 found in cache
4975 downloaded and cached
16110 downloaded and cached
17072 downloaded and cached
3951 found in cache
842 found in cache
27118 downloaded and cached
2012 downloaded and cached
23526 downloaded and cached
36213 downloaded and cached
251 found in cache
159 found in cache
284 found in cache
11 downloaded and cached
924 found in cache
1686 found in cache
586 found in cache
252 found in cache
536 found in cache
16108 found in cache
207 found in cache
558 found in cache
234 found in cache
3038 found in cache
1766 found in cache
8632 downloaded and cached
612 found in cache
12849 downloaded and cached
7812 downloaded and cached
24812 found in cache
250 found in cache
6 found in cache
9052 found in cache
3804 downloaded and cached
1701 found in cache
10808 downloaded and cached
1935 found in cache
1375 found in cache
26361 found in cache
1693 found in cache
516 found in cache
500 found in cache
13705 downloaded and cached
405 downloaded and cached
609 downloaded and cached
1780 found in cache
2292 downloaded and cached
2234 downloaded and cached
671 found in cache
198 found in cache
2664 found in cache
4710 downloaded and cached
4748 downloaded and cached
13805 downloaded and cached
5918 downloaded and cached
53632 downloaded and cached
17227 found in cache
14198 downloaded and cached
52803 downloaded and cached
13386 found in cache
3951 found in cache
3024 found in cache
6208 downloaded and cached
16110 found in cache
36213 found in cache
6492 found in cache
32868 downloaded and cached
13968 downloaded and cached
3941 downloaded and cached
16269 downloaded and cached
5506 found in cache
3672 found in cache
27760 downloaded and cached
6312 downloaded and cached
2396 downloaded and cached
110 downloaded and cached
12550 downloaded and cached
19134 found in cache
2007 found in cache
9462 found in cache
665 found in cache
2059 found in cache
89 found in cache
819 found in cache
535 found in cache
203 found in cache
2007 found in cache
1822 found in cache
20350 downloaded and cached
1557 found in cache
2165 found in cache
40701 downloaded and cached
9352 downloaded and cached
3155 downloaded and cached
15539 downloaded and cached
5666 downloaded and cached
2209 downloaded and cached
4483 downloaded and cached
19118 downloaded and cached
23759 downloaded and cached
3570 found in cache
2696 found in cache
16108 found in cache
1677 found in cache
3325 downloaded and cached
2118 found in cache
17751 found in cache
536 found in cache
1818 found in cache
29 found in cache
2200 found in cache
18754 downloaded and cached
35379 found in cache
18416 found in cache
11025 found in cache
21111 downloaded and cached
17542 downloaded and cached
1444 downloaded and cached
19352 downloaded and cached
11686 downloaded and cached
1013 found in cache
1488 downloaded and cached
3943 found in cache
14949 downloaded and cached
110 found in cache
1009 found in cache
23723 found in cache
11674 downloaded and cached
3488 found in cache
4552 found in cache
3025 found in cache
7079 downloaded and cached
16280 downloaded and cached
16840 found in cache
3334 downloaded and cached
10284 downloaded and cached
1674 downloaded and cached
1677 found in cache
1688 downloaded and cached
6259 downloaded and cached
70 found in cache
174 found in cache
5692 found in cache
199 found in cache
153 downloaded and cached
12631 downloaded and cached
193 downloaded and cached
20970 downloaded and cached
83 found in cache
6449 downloaded and cached
648 found in cache
3744 downloaded and cached
893 found in cache
781 found in cache
544 found in cache
1856 found in cache
876 found in cache
377 downloaded and cached
3691 downloaded and cached
39 found in cache
2480 found in cache
16840 found in cache
7108 found in cache
79 found in cache
7064 found in cache
3943 found in cache
16358 found in cache
6262 downloaded and cached
11331 downloaded and cached
3541 downloaded and cached
842 found in cache
22900 downloaded and cached
3024 found in cache
12170 downloaded and cached
27118 found in cache
9072 downloaded and cached
33492 downloaded and cached
2012 found in cache
23526 found in cache
16111 downloaded and cached
688 found in cache
664 found in cache
625 downloaded and cached
557 downloaded and cached
232 downloaded and cached
249 downloaded and cached
210 downloaded and cached
200 downloaded and cached
19205 downloaded and cached
24496 downloaded and cached
2232 found in cache
340 downloaded and cached
922 found in cache
39171 found in cache
42571 found in cache
1444 found in cache
23079 found in cache
7924 downloaded and cached
1552 downloaded and cached
4128 downloaded and cached
34 found in cache
64 found in cache
2660 found in cache
1664 found in cache
6126 downloaded and cached
33109 downloaded and cached
1444 found in cache
10928 downloaded and cached
9591 downloaded and cached
3069 downloaded and cached
2137 found in cache
1663 found in cache
1751 found in cache
9335 found in cache
3510 downloaded and cached
79 found in cache
1000 found in cache
7064 found in cache

2974 downloaded and cached
239 found in cache
536 found in cache
626 found in cache
424 downloaded and cached
789 downloaded and cached
9369 found in cache
601 found in cache
284 found in cache
2008 found in cache
3578 downloaded and cached
208 found in cache
2119 downloaded and cached
8785 downloaded and cached
1617 downloaded and cached
3543 found in cache
8502 downloaded and cached
916 found in cache
884 downloaded and cached
56535 found in cache
16075 downloaded and cached
7812 found in cache
6644 found in cache
15017 found in cache
2025 found in cache
5692 found in cache
6642 found in cache
18275 found in cache
9691 found in cache
137 found in cache
15680 downloaded and cached
3027 found in cache
1341 found in cache
1553 downloaded and cached
1610 downloaded and cached
10100 downloaded and cached
25057 downloaded and cached
21530 downloaded and cached
6070 downloaded and cached
5271 downloaded and cached
6512 downloaded and cached
5614 downloaded and cached
73 found in cache
141 found in cache
158 downloaded and cached
82 found in cache
203 found in cache
411 found in cache
3648 downloaded and cached
665 found in cache
43494 downloaded and cached
89 found in cache
750 found in cache
409 found in cache
411 found in cache
2382 found in cache
3313 downloaded and cached
3651 found in cache
645 found in cache
541 found in cache
931 downloaded and cached
815 downloaded and cached
1890 found in cache
24 found in cache
9589 found in cache
5475 found in cache
30760 downloaded and cached
907 downloaded and cached
10916 downloaded and cached
66 found in cache
15599 downloaded and cached
11025 found in cache
1258 found in cache
1633 found in cache
6262 found in cache
2553 found in cache
29505 found in cache
11407 found in cache
48 found in cache
751 found in cache
17856 downloaded and cached
3720 found in cache
1281 found in cache
3245 found in cache
1007 found in cache
2676 downloaded and cached
77 found in cache
4423 downloaded and cached
16358 found in cache
2955 found in cache
50942 downloaded and cached
9756 downloaded and cached
339 found in cache
2466 found in cache
10628 downloaded and cached
1617 found in cache
2554 found in cache
54797 downloaded and cached
2147 found in cache
303 downloaded and cached
336 found in cache
565 found in cache
3874 found in cache
9593 found in cache
14077 downloaded and cached
18416 found in cache
23079 found in cache
13386 found in cache
6249 downloaded and cached
27822 downloaded and cached
21835 found in cache
11014 downloaded and cached
1335 found in cache
12850 downloaded and cached
11989 downloaded and cached
14942 downloaded and cached
10199 downloaded and cached
21358 downloaded and cached
1880 downloaded and cached
4326 downloaded and cached
28078 downloaded and cached
12336 downloaded and cached
1250 found in cache
30212 found in cache
2554 found in cache
12664 downloaded and cached
22491 found in cache
9343 found in cache
2656 found in cache
9696 found in cache
16882 found in cache
3870 downloaded and cached
747 found in cache
6595 found in cache
2454 found in cache
11699 downloaded and cached
291 found in cache
600 found in cache
9995 found in cache
34400 found in cache
4705 downloaded and cached
1250 found in cache
470 found in cache
545 downloaded and cached
894 downloaded and cached
1295 downloaded and cached
5478 downloaded and cached
24511 downloaded and cached
33309 downloaded and cached
461 downloaded and cached
55534 downloaded and cached
8075 downloaded and cached
1780 found in cache
827 found in cache
500 found in cache
516 found in cache
13705 found in cache
11 found in cache
11788 found in cache
9369 found in cache
15786 downloaded and cached
128 found in cache
225 found in cache
473 downloaded and cached
334 found in cache
609 found in cache
29505 found in cache
492 downloaded and cached
1884 downloaded and cached
2552 found in cache
5046 downloaded and cached
8087 downloaded and cached
87 found in cache
1007 found in cache
2676 downloaded and cached
1008 found in cache
4108 downloaded and cached
7105 downloaded and cached
1301 found in cache
19714 found in cache
77 found in cache
12904 found in cache
576 found in cache
897 downloaded and cached
1686 found in cache
536 found in cache
9864 downloaded and cached
407 downloaded and cached
11147 downloaded and cached
757 found in cache
2989 found in cache
11417 downloaded and cached
905 found in cache
806 found in cache
3027 found in cache
781 found in cache
893 found in cache
15702 found in cache
544 found in cache
6710 downloaded and cached
3744 found in cache
24318 downloaded and cached
2669 found in cache
1320 downloaded and cached
2207 found in cache
12327 downloaded and cached
1955 downloaded and cached
8870 found in cache
1613 found in cache
1926 downloaded and cached
2656 found in cache
6842 found in cache
2007 found in cache
21830 found in cache
3339 downloaded and cached
2628 downloaded and cached
665 found in cache
1656 found in cache
2988 found in cache
5672 downloaded and cached
516 found in cache
2023 downloaded and cached
751 found in cache
782 found in cache
827 found in cache
2427 downloaded and cached
42687 found in cache
743 found in cache
1258 found in cache
1686 found in cache
48 found in cache
1818 found in cache
1766 found in cache
7031 downloaded and cached
453 downloaded and cached
2402 downloaded and cached
9157 downloaded and cached
336 found in cache
867 found in cache
612 found in cache
8021 found in cache
12846 found in cache
795 found in cache
4006 found in cache
791 found in cache
798 found in cache
693 found in cache
796 found in cache
760 found in cache
3923 downloaded and cached
797 found in cache
775 found in cache
1326 found in cache
5975 found in cache
40130 downloaded and cached
10640 found in cache
87 found in cache
23474 downloaded and cached
13075 found in cache
19601 downloaded and cached
21376 downloaded and cached
4740 downloaded and cached
835 found in cache
1686 found in cache
1818 found in cache
782 found in cache
827 found in cache
1778 found in cache
1241 found in cache
16093 downloaded and cached
914 downloaded and cached
789 found in cache
2680 found in cache
2656 found in cache
3532 downloaded and cached
6298 downloaded and cached
6147 found in cache
9983 found in cache
3803 downloaded and cached
32511 found in cache
3488 found in cache
24812 found in cache
2591 found in cache
5951 downloaded and cached
10805 downloaded and cached
15969 downloaded and cached
16882 found in cache
13509 downloaded and cached
1314 found in cache
15799 downloaded and cached
2680 found in cache
6892 downloaded and cached
2695 found in cache
1663 found in cache
28800 downloaded and cached
37 found in cache
16840 found in cache
909 downloaded and cached
1677 found in cache
2681 downloaded and cached
30620 downloaded and cached
6612 downloaded and cached
133 found in cache
1662 downloaded and cached
189 found in cache
20552 downloaded and cached
30607 downloaded and cached
19169 found in cache
8450 found in cache
25703 found in cache
3535 downloaded and cached
22491 found in cache
1095 found in cache
11338 downloaded and cached
1096 downloaded and cached
1217 downloaded and cached
24812 found in cache
7080 downloaded and cached
291 found in cache
434 found in cache
344 found in cache
16882 found in cache
1718 found in cache
292 found in cache
3737 downloaded and cached
1641 downloaded and cached
867 found in cache
12330 downloaded and cached
13543 found in cache
8348 found in cache
12508 downloaded and cached
24407 found in cache
781 found in cache
653 downloaded and cached
1856 found in cache
806 found in cache
544 found in cache
876 found in cache
17227 found in cache
6551 found in cache
905 found in cache
11411 downloaded and cached
130 found in cache
95 downloaded and cached
188 downloaded and cached
1216 downloaded and cached
2297 downloaded and cached
1467 downloaded and cached
1109 downloaded and cached
1262 downloaded and cached
20302 downloaded and cached
18394 downloaded and cached
439 found in cache
451 found in cache
493 found in cache
1770 downloaded and cached
0 found in cache
1775 found in cache
614 found in cache
4703 found in cache
724 found in cache
1099 found in cache
2676 downloaded and cached
1007 found in cache
1656 found in cache
4033 found in cache
1008 found in cache
1281 found in cache
2955 found in cache
3245 found in cache
1688 found in cache
77 found in cache

830 found in cache
839 downloaded and cached
916 found in cache
900 downloaded and cached
698 found in cache
22270 downloaded and cached
578 found in cache
649 found in cache
3952 downloaded and cached
29067 found in cache
526 found in cache
18179 downloaded and cached
18917 downloaded and cached
40113 downloaded and cached
1957 downloaded and cached
2982 downloaded and cached
747 found in cache
13379 downloaded and cached
54922 downloaded and cached
32501 downloaded and cached
55 found in cache
1956 downloaded and cached
2656 found in cache
11025 found in cache
12627 downloaded and cached
27638 found in cache
1932 downloaded and cached
3732 downloaded and cached
2053 found in cache
5158 downloaded and cached
3642 found in cache
3611 downloaded and cached
12852 downloaded and cached
36871 downloaded and cached
14982 found in cache
47176 downloaded and cached
9696 found in cache
7704 found in cache
2577 downloaded and cached
18702 downloaded and cached
236 found in cache
838 found in cache
662 downloaded and cached
199 found in cache
174 found in cache
544 found in cache
916 found in cache
876 found in cache
39 found in cache
153 found in cache
1777 found in cache
2801 downloaded and cached
2696 found in cache
12879 downloaded and cached
1677 found in cache
2007 found in cache
2213 downloaded and cached
2023 found in cache
1001 found in cache
8051 downloaded and cached
20 found in cache
3 downloaded and cached
1250 found in cache
1584 downloaded and cached
3351 downloaded and cached
33953 downloaded and cached
31666 downloaded and cached
16137 found in cache
10807 found in cache
1910 downloaded and cached
2450 found in cache
2361 found in cache
2719 downloaded and cached
19801 downloaded and cached
4396 downloaded and cached
780 found in cache
24010 found in cache
3522 downloaded and cached
4693 downloaded and cached
1417 found in cache
664 found in cache
688 found in cache
625 found in cache
557 found in cache
232 found in cache
249 found in cache
210 found in cache
200 found in cache
19205 found in cache
24496 found in cache
1018 found in cache
2134 found in cache
1021 found in cache
274 found in cache
21621 downloaded and cached
14942 downloaded and cached
2457 downloaded and cached
363 found in cache
31484 downloaded and cached
2452 downloaded and cached
334 found in cache
225 found in cache
473 found in cache
2552 found in cache
5236 downloaded and cached
451 found in cache
492 found in cache
6 found in cache
439 found in cache
159 found in cache
1014 found in cache
1 found in cache
2 found in cache
18163 downloaded and cached
1653 found in cache
2461 downloaded and cached
11025 found in cache
34652 downloaded and cached
15795 downloaded and cached
6211 downloaded and cached
CPU times: user 2h 38min 35s, sys: 4h 18min 34s, total: 6h 57min 9s
Wall time: 1h 16min 50s

In [116]:
for m in top_list["movieId"]:
    if not os.path.isfile('data/recs/{}_recs.json'.format(m)):
        print("COULD NOT FIND RECS FOR: {}".format(m))
    else: 
        print("Recs found for: {}".format(m))

Recs found for: 79
Recs found for: 252
Recs found for: 89
Recs found for: 297
Recs found for: 907
Recs found for: 860
Recs found for: 0
Recs found for: 274
Recs found for: 37
Recs found for: 578
Recs found for: 1663
Recs found for: 159
Recs found for: 260
Recs found for: 654
Recs found for: 344
Recs found for: 152
Recs found for: 291
Recs found for: 1713
Recs found for: 534
Recs found for: 909
Recs found for: 969
Recs found for: 772
Recs found for: 295
Recs found for: 270
Recs found for: 1823
Recs found for: 29
Recs found for: 7086
Recs found for: 202
Recs found for: 227
Recs found for: 268
Recs found for: 758
Recs found for: 257
Recs found for: 537
Recs found for: 924
Recs found for: 262
Recs found for: 1001
Recs found for: 36
Recs found for: 1851
Recs found for: 48
Recs found for: 2538
Recs found for: 1094
Recs found for: 336
Recs found for: 480
Recs found for: 82
Recs found for: 141
Recs found for: 1847
Recs found for: 2154
Recs found for: 1
Recs found for: 1717
Recs found for: 805
Recs found for: 292
Recs found for: 565
Recs found for: 3608
Recs found for: 167
Recs found for: 3865
Recs found for: 72
Recs found for: 2144
Recs found for: 614
Recs found for: 263
Recs found for: 586
Recs found for: 827
Recs found for: 2129
Recs found for: 916
Recs found for: 757
Recs found for: 724
Recs found for: 1686
Recs found for: 23
Recs found for: 820
Recs found for: 2025
Recs found for: 1314
Recs found for: 783
Recs found for: 1079
Recs found for: 1183
Recs found for: 1710
Recs found for: 85
Recs found for: 1012
Recs found for: 533
Recs found for: 283
Recs found for: 2697
Recs found for: 4041
Recs found for: 698
Recs found for: 500
Recs found for: 19
Recs found for: 203
Recs found for: 876
Recs found for: 239
Recs found for: 571
Recs found for: 645
Recs found for: 2472
Recs found for: 181
Recs found for: 3871
Recs found for: 3027
Recs found for: 1586
Recs found for: 782
Recs found for: 93
Recs found for: 2459
Recs found for: 1009
Recs found for: 1007
Recs found for: 2147
Recs found for: 1958
Recs found for: 2
Recs found for: 261
Recs found for: 4755
Recs found for: 2455
Recs found for: 785
Recs found for: 1483
Recs found for: 245
Recs found for: 24
Recs found for: 411
Recs found for: 2207
Recs found for: 1824
Recs found for: 1008
Recs found for: 768
Recs found for: 2665
Recs found for: 2478
Recs found for: 775
Recs found for: 6
Recs found for: 773
Recs found for: 806
Recs found for: 2660
Recs found for: 3492
Recs found for: 558
Recs found for: 922
Recs found for: 1633
Recs found for: 780
Recs found for: 3024
Recs found for: 251
Recs found for: 207
Recs found for: 250
Recs found for: 516
Recs found for: 2664
Recs found for: 3951
Recs found for: 5506
Recs found for: 665
Recs found for: 2165
Recs found for: 3570
Recs found for: 2200
Recs found for: 1013
Recs found for: 3025
Recs found for: 70
Recs found for: 648
Recs found for: 2480
Recs found for: 2686
Recs found for: 606
Recs found for: 3619
Recs found for: 1040
Recs found for: 842
Recs found for: 688
Recs found for: 2232
Recs found for: 34
Recs found for: 2137
Recs found for: 536
Recs found for: 2119
Recs found for: 6644
Recs found for: 1341
Recs found for: 73
Recs found for: 750
Recs found for: 1890
Recs found for: 1258
Recs found for: 1281
Recs found for: 339
Recs found for: 3874
Recs found for: 1335
Recs found for: 1250
Recs found for: 747
Recs found for: 470
Recs found for: 1780
Recs found for: 225
Recs found for: 87
Recs found for: 576
Recs found for: 905
Recs found for: 2669
Recs found for: 2007
Recs found for: 751
Recs found for: 1766
Recs found for: 795
Recs found for: 1326
Recs found for: 835
Recs found for: 2680
Recs found for: 2591
Recs found for: 2695
Recs found for: 133
Recs found for: 1095
Recs found for: 1718
Recs found for: 781
Recs found for: 130
Recs found for: 439
Recs found for: 2676
Recs found for: 830
Recs found for: 526
Recs found for: 55
Recs found for: 3642
Recs found for: 236
Recs found for: 1777
Recs found for: 20
Recs found for: 2450
Recs found for: 664
Recs found for: 1018
Recs found for: 334
Recs found for: 1014

In [119]:
!tar chvfz notebook.tar.gz *

Autoencoders.ipynb
Content Hybrid.ipynb
Keras test.ipynb
NN test.ipynb
Preprocess & EDA.ipynb
Recommender Engine.ipynb
SVD test.ipynb
TFIDF test.ipynb
__pycache__/
__pycache__/data_download.cpython-36.pyc
allfiles.tar.gz
archive.tar.gz
ckpt/
ckpt/ckpt-loss=1.11.index
ckpt/ckpt-loss=0.77.index
ckpt/ckpt-loss=1.16.data-00001-of-00002
ckpt/ckpt-loss=0.77.data-00001-of-00002
ckpt/ckpt-loss=0.67.data-00000-of-00002
ckpt/ckpt-loss=0.93.index
ckpt/checkpoint
ckpt/ckpt-loss=1.01.index
ckpt/ckpt-loss=0.67.index
ckpt/collab-nn-1/
ckpt/ckpt-loss=0.63.data-00000-of-00002
ckpt/collab-nn-2/
ckpt/ckpt-loss=0.72.data-00001-of-00002
ckpt/autoencoder-1/
ckpt/ckpt-loss=0.93.data-00000-of-00002
ckpt/ckpt-loss=0.77.data-00000-of-00002
ckpt/ckpt-loss=0.63.index
ckpt/ckpt-loss=1.11.data-00000-of-00002
ckpt/ckpt-loss=1.16.index
ckpt/ckpt-loss=1.11.data-00001-of-00002
ckpt/ckpt-loss=1.01.data-00000-of-00002
ckpt/ckpt-loss=0.63.data-00001-of-00002
ckpt/ckpt-loss=1.01.data-00001-of-00002
ckpt/ckpt-loss=1.12.data-00000-of-00002
ckpt/ckpt-loss=1.12.index
ckpt/ckpt-loss=1.16.data-00000-of-00002
ckpt/.ipynb_checkpoints/
ckpt/ckpt-loss=0.72.index
ckpt/ckpt-loss=1.12.data-00001-of-00002
ckpt/ckpt-loss=0.93.data-00001-of-00002
ckpt/ckpt-loss=0.67.data-00001-of-00002
ckpt/ckpt-loss=0.72.data-00000-of-00002
data/
data/movie2idx.pkl
data/collab_nn_embeddings_21.pkl
data/ml-25m.zip
data/idx2movie.pkl
data/top_list.json
data/autoencoder_embeddings_3.pkl
data/collab_nn_embeddings_24.pkl
data/ml-latest-small/
data/ml-latest-small/movies.csv
data/ml-latest-small/ratings.csv
data/ml-latest-small/tags.csv
data/ml-latest-small/links.csv
data/ml-latest-small/README.txt
data/recs/
data/recs/1890_recs.json
data/recs/4755_recs.json
data/recs/29_recs.json
data/recs/1014_recs.json
data/recs/1018_recs.json
data/recs/2680_recs.json
data/recs/1766_recs.json
data/recs/2207_recs.json
data/recs/0_recs.json
data/recs/688_recs.json
data/recs/297_recs.json
data/recs/905_recs.json
data/recs/1094_recs.json
data/recs/202_recs.json
data/recs/260_recs.json
data/recs/2480_recs.json
data/recs/835_recs.json
data/recs/1095_recs.json
data/recs/775_recs.json
data/recs/141_recs.json
data/recs/536_recs.json
data/recs/2144_recs.json
data/recs/2007_recs.json
data/recs/664_recs.json
data/recs/6_recs.json
data/recs/3027_recs.json
data/recs/2478_recs.json
data/recs/1012_recs.json
data/recs/480_recs.json
data/recs/5506_recs.json
data/recs/344_recs.json
data/recs/1040_recs.json
data/recs/860_recs.json
data/recs/262_recs.json
data/recs/34_recs.json
data/recs/576_recs.json
data/recs/3570_recs.json
data/recs/270_recs.json
data/recs/1686_recs.json
data/recs/1824_recs.json
data/recs/2676_recs.json
data/recs/827_recs.json
data/recs/909_recs.json
data/recs/291_recs.json
data/recs/3871_recs.json
data/recs/72_recs.json
data/recs/411_recs.json
data/recs/268_recs.json
data/recs/6644_recs.json
data/recs/3492_recs.json
data/recs/795_recs.json
data/recs/23_recs.json
data/recs/558_recs.json
data/recs/89_recs.json
data/recs/820_recs.json
data/recs/257_recs.json
data/recs/283_recs.json
data/recs/7086_recs.json
data/recs/181_recs.json
data/recs/3874_recs.json
data/recs/783_recs.json
data/recs/757_recs.json
data/recs/1847_recs.json
data/recs/2147_recs.json
data/recs/969_recs.json
data/recs/1777_recs.json
data/recs/747_recs.json
data/recs/1183_recs.json
data/recs/1341_recs.json
data/recs/70_recs.json
data/recs/1633_recs.json
data/recs/1007_recs.json
data/recs/1780_recs.json
data/recs/55_recs.json
data/recs/698_recs.json
data/recs/2686_recs.json
data/recs/251_recs.json
data/recs/565_recs.json
data/recs/227_recs.json
data/recs/805_recs.json
data/recs/1713_recs.json
data/recs/571_recs.json
data/recs/252_recs.json
data/recs/130_recs.json
data/recs/782_recs.json
data/recs/1958_recs.json
data/recs/3642_recs.json
data/recs/24_recs.json
data/recs/152_recs.json
data/recs/1335_recs.json
data/recs/2697_recs.json
data/recs/806_recs.json
data/recs/274_recs.json
data/recs/203_recs.json
data/recs/3608_recs.json
data/recs/2_recs.json
data/recs/236_recs.json
data/recs/2538_recs.json
data/recs/1314_recs.json
data/recs/648_recs.json
data/recs/1586_recs.json
data/recs/1483_recs.json
data/recs/167_recs.json
data/recs/614_recs.json
data/recs/239_recs.json
data/recs/750_recs.json
data/recs/922_recs.json
data/recs/2450_recs.json
data/recs/916_recs.json
data/recs/1326_recs.json
data/recs/830_recs.json
data/recs/2665_recs.json
data/recs/785_recs.json
data/recs/2165_recs.json
data/recs/2669_recs.json
data/recs/2660_recs.json
data/recs/37_recs.json
data/recs/159_recs.json
data/recs/2025_recs.json
data/recs/534_recs.json
data/recs/2459_recs.json
data/recs/533_recs.json
data/recs/842_recs.json
data/recs/537_recs.json
data/recs/1823_recs.json
data/recs/758_recs.json
data/recs/606_recs.json
data/recs/724_recs.json
data/recs/781_recs.json
data/recs/2455_recs.json
data/recs/751_recs.json
data/recs/334_recs.json
data/recs/1001_recs.json
data/recs/79_recs.json
data/recs/2695_recs.json
data/recs/876_recs.json
data/recs/1_recs.json
data/recs/654_recs.json
data/recs/3865_recs.json
data/recs/1009_recs.json
data/recs/19_recs.json
data/recs/85_recs.json
data/recs/1710_recs.json
data/recs/261_recs.json
data/recs/500_recs.json
data/recs/250_recs.json
data/recs/263_recs.json
data/recs/1008_recs.json
data/recs/772_recs.json
data/recs/73_recs.json
data/recs/2137_recs.json
data/recs/93_recs.json
data/recs/470_recs.json
data/recs/339_recs.json
data/recs/439_recs.json
data/recs/2119_recs.json
data/recs/3619_recs.json
data/recs/245_recs.json
data/recs/1718_recs.json
data/recs/3024_recs.json
data/recs/1663_recs.json
data/recs/665_recs.json
data/recs/2591_recs.json
data/recs/87_recs.json
data/recs/907_recs.json
data/recs/295_recs.json
data/recs/1250_recs.json
data/recs/2129_recs.json
data/recs/20_recs.json
data/recs/1281_recs.json
data/recs/526_recs.json
data/recs/207_recs.json
data/recs/773_recs.json
data/recs/3025_recs.json
data/recs/1851_recs.json
data/recs/2154_recs.json
data/recs/1258_recs.json
data/recs/645_recs.json
data/recs/2664_recs.json
data/recs/1717_recs.json
data/recs/36_recs.json
data/recs/2232_recs.json
data/recs/82_recs.json
data/recs/586_recs.json
data/recs/336_recs.json
data/recs/1013_recs.json
data/recs/924_recs.json
data/recs/225_recs.json
data/recs/133_recs.json
data/recs/516_recs.json
data/recs/4041_recs.json
data/recs/2472_recs.json
data/recs/48_recs.json
data/recs/1079_recs.json
data/recs/3951_recs.json
data/recs/768_recs.json
data/recs/292_recs.json
data/recs/780_recs.json
data/recs/578_recs.json
data/recs/2200_recs.json
data/collab_nn_embeddings_23.pkl
data/ml-latest-small.zip
data/autoencoder_embeddings_4.pkl
data/autoencoder_embeddings_2.pkl
data/.ipynb_checkpoints/
data/content_data.csv
data/autoencoder_embeddings_1.pkl
data/collab_nn_embeddings_22.pkl
data/collab_nn_embeddings_1.pkl
data/ml-25m/
data/ml-25m/genome-tags.csv
data/ml-25m/movies.csv
data/ml-25m/ratings.csv
data/ml-25m/tags.csv
data/ml-25m/links.csv
data/ml-25m/README.txt
data/ml-25m/genome-scores.csv
data_download.py
nn_test_1/
nn_test_1/assets/
nn_test_1/variables/
nn_test_1/variables/variables.data-00000-of-00002
nn_test_1/variables/variables.index
nn_test_1/variables/variables.data-00001-of-00002
nn_test_1/saved_model.pb